<section>
	<h2>Sign up</h2>

	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	  <%= devise_error_messages! %>

	  <%= f.text_field :name, :html => { :placeholder_attribute => "First name" } %>
	  
	  <%= f.email_field :email, :html => { :placeholder_attribute => "Email" } %>

	  <%= f.password_field :password, :html => { :placeholder_attribute => "Password" } %>

	  <%= f.password_field :password_confirmation, :html => { :placeholder_attribute => "Confirm your password" } %>
	  
	  <%= f.check_box :marketing_opt_in %>

	  <%= f.label :marketing_opt_in, "Let me know when you add new features (no marketing fluff - honest)" %>

	  <%= f.submit "Sign up", :class => "button" %>
	<% end %>

	<%= link_to "Login", new_user_session_path, :class => "button" %>
</section>
